entrypoint = "index.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 35299
externalPort = 3003

[[ports]]
localPort = 36141
externalPort = 3001

[[ports]]
localPort = 40343
externalPort = 3000

[[ports]]
localPort = 41055
externalPort = 80

[agent]
expertMode = true
